<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/ec13307674.js"
      crossorigin="anonymous"
    ></script> 
    <title>세탁 서비스 신청 페이지</title>

    <!--css-->
    <link rel="stylesheet" href="/css/apply.css" />

  </head>
<body>
  <header>
    <div class="header_column">
      <div id="apply_title"></div>
      <h1>세탁신청 페이지</h1>
    </div>
    <div class="header_column">
      <p>현재 나의 잔여포인트 : <%= my_rest_point %></p>
    </div>
  </header>
	<section>
    <nav>
      <div>
        <form enctype="multipart/form-data">
          <label id="apply_label" for="fname">필수정보입력</label><br><br>
          <div><%= customer_nickname %></div><br>
          <td>휴대전화</td>
          <input type="text" name="phone"><br><br>
          <td>주소</td>
          <input type="text" name="address"><br><br>
          <td>이미지</td>
          <input id="applyImage" type="file"><br><br>
          <td>세탁물</td>
          <input type="text" name="category"><br><br>
          <td>세탁 요청사항</td>
          <input type="text" name="memo">
          <button id="applybutton" onclick="applybutton" type="button">신청하기</button>
          <button type="button"><a href="/" id="next" style="color:black; text-decoration-line: none">뒤로가기</a></button>
        </form>
      </div>
    </nav>
        <article>
            <div id="price_informaion">
            	  <h3>세탁 1회에 10,000p</h3>
            </div>
        </article>
    </section>
    <script src="/js/apply.js"></script>
</body>
</html>