<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/index.css"/>
<!--    JQuery-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!--    JQuery Cookie-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>

<div class="header">
  <button id="signup" class=signup-button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">회원가입</button>
  <button id="login" class=login-button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">로그인</button>

  <button id="logout" class=logout-button onclick="logout()" style="display: none;">로그아웃</button>
  <div style="text-align: center;">
  <h2>코딩 할 팔자 세탁소</h2>
  </div>
</div>

<!--  로그인 모달  -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>
<!-- 로그인 폼 -->
<form class="modal-content animate">
  <div class="container">
    <label for="Id"><b>아이디</b></label>
    <input type="text" placeholder="Enter Id" name="Id" id="loginUserId" required>

    <label for="psw"><b>비밀번호</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="loginPassword" required>

    <button type="button" class="business-signupbtn" onclick="loginUser()">개인회원으로 로그인</button>
    <button type="button"  class="common-signupbtn" onclick="loginBoss()">사장으로 로그인</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container">
    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">취소</button>
    <!-- <span class="psw" style="float: left; margin-top: 30px; margin-left: 30ox;"><a href="#">비밀번호 찾기</a></span> -->
  </div>
</form>
</div>



<!-- 회원 가입 모달 -->
<div id="id02" class="signup-modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="signup-close" title="Close Modal">&times;</span>
  <!-- 회원 가입 폼 -->
  <form class="signup-modal-content">
    <div class="signup-container">
      <h1>회원가입</h1>
      <hr>
      <label for="id"><b>아이디</b></label>
      <input type="text" placeholder="아이디를 입력하세요" id="inputUserId" required>
      
      <label for="nickname"><b>닉네임</b></label>
      <input type="text" placeholder="닉네임을 입력하세요" id="inputNickname" required>

      <label for="psw"><b>비밀번호</b></label>
      <input type="text" placeholder="비밀번호를 입력하세요" id="inputPassword1" required>

      <label for="confirmPsw"><b>재확인 비밀번호</b></label>
      <input type="text" placeholder="재확인 비밀번호를 입력하세요" id="inputPassword2" required>
      
<!-- 
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

      <div class="signup-clearfix">
        <button type="button" class="business-signupbtn" onclick="signup_business()">사업자로 가입하기</button> 
        <button type="button" class="common-signupbtn" id="signup" onclick="signup_common()">개인으로 가입하기</button>
      </div>
    </div>
  </form>
</div>


<div class="row">
  <div class="service" id="service-order">서비스 신청</div>
  <div class="service" id="service-inquire">서비스 조회</div>
</div>

<div class="row">
  <div class="service" id="review-write">리뷰 작성</div>
  <div class="service" id="review-inquire">리뷰 조회</div>
</div>

</hr>

<script>
  // Get the modal
  var modal = document.getElementById('id01');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  var signup_modal = document.getElementById('id02');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == signup_modal) {
    signup_modal.style.display = "none";
  }
}

  </script>
  <script defer src="./js/signup.js"></script>
  <script defer src="./js/login.js"></script>
</body>
</html>


