<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Google Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet" />

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />

        <!-- css -->
        <!-- <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/common.css" />
        <link rel="stylesheet" href="./css/header.css" />
        <link rel="stylesheet" href="./css/register.css" />
        <link rel="stylesheet" href="./css/driver.css" /> -->
        <title>코딩할팔자조</title>
    </head>
    <body>
        <div class="service-list">
            <h1>손님들이 신청한 세탁물 조회(사업자)</h1>
        </div>

        <div class="laundry-list-wrap">
            <div class="order-in-progress-title-wrap">
                <p>세탁 신청 리스트</p>
            </div>
            <div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="service-menu">
							<td class="nickname">닉네임</td>
							<td class="address">집 주소</td>
							<td class="img">세탁물 사진</td>
							<td class="memo">요청사항</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="service-list">
                        <!-- 세탁 신청 리스트 -->
					</tbody>
				</table>
			</div>
        </div>

        <div class="laundry-list-wrap">
            <div class="order-in-progress-title-wrap">
                <p>세탁 진행 리스트</p>
            </div>
            <div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="service-menu">
							<td class="nickname">닉네임</td>
							<td class="phone">연락처</td>
							<td class="address">집 주소</td>
							<td class="img">세탁물 사진</td>
							<td class="memo">요청사항</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="service-apply">
                        <!-- 세탁 진행 리스트 -->
					</tbody>
				</table>
			</div>
        </div>

        <div class="laundry-list-wrap">
            <div class="order-in-progress-title-wrap">
                <p>세탁 완료 리스트</p>
            </div>
            <div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="service-menu">
							<td class="nickname">닉네임</td>
                            <td class="phone">연락처</td>
							<td class="address">집 주소</td>
							<td class="img">세탁물 사진</td>
							<td class="memo">요청사항</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="service-Complet">
                        <!-- 세탁 완료 리스트 -->
					</tbody>
				</table>
			</div>
        </div>
        
        <script defer src="./js/service.js"></script>
    </body>
</html>
