* {
    box-sizing: border-box;
  }
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      padding: 20px;
      background-color: white;
      border-bottom: 2px solid #000000;
  }
  .header_column {
      display: flex;
      align-items: center;
  }
  .header_column > h1 {
      font-size: 30px;
  }
  #apply_title {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
  }
  nav {
      float: left;
      display: flex;
      align-items: center;
      width: 50%;
      height: 600px;
      padding-left: 400px;
  }
  #apply_label {
      font-size: 30px;
  }
  article {
      padding: 100px;
      display: flex;
      align-items: center;
      width: 50%;
      height: 600px;
  }
  .price_informaion {
        margin: 20px;
      padding: 20px;
      border: 20px solid #000000;
      width: 300px;
  }
  .price_informaion > h3 {
      box-sizing: border-box;
  }
  table {
      border-collapse: collapse;
      width: 100%;
  }
  td, th {
      width: 300px;
      height: 200px;
      border: 2px solid #000000;
      padding-left: 15px;
  }